.paginate-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.pagination {
  display: flex;
  align-items: center;
}

.page-item.disabled .page-link {
  background: #282828;
  pointer-events: none;
}

.page-item .page-link {
  width: 32px;
  margin: 0 6px;
  border-radius: 5px;
  font-weight: 500;
  background: var(--bg-primary);
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-item .page-link svg {
  font-size: 1rem;
}

.page-item.active .page-link {
  background: var(--btn-primary);
  position: relative;
  transition: color 0.4s ease-out;
}

.page-item .page-link:hover {
  background: #5526c4f2;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .paginate-wrap .row {
    margin-left: -20px;
  }

  .page-item .page-link {
    font-size: 0.75rem;
  }

  .page-item .page-link svg {
    font-size: 0.75rem;
  }

  .page-item .page-link {
    width: 24px;
    min-width: 24px;
    height: 28px;
    margin: 0 2px;
  }
}
