.button-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.load-button {
  color: var(--text-primary);
  background: var(--btn-primary);
  padding: 8px 12px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
}
