.main-category {
  margin-top: 20px;
  padding: 0;
}

.main-col .media-category {
  margin-right: 15px;
}

.media-category {
  display: flex;
  margin-bottom: 30px;
}

.media-body {
  position: relative;
}

.media-body {
  flex: 1 1;
}

.media-body p {
  white-space: pre-line;
  overflow-wrap: break-word;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-col .media-category {
    margin-right: 10px;
  }

  .media-body h3 {
    font-size: 1.25rem;
  }

  .media-body p {
    font-size: 15px;
  }
}
