.list-section {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.section-title {
  margin-bottom: 5px;
  margin-top: 20px;
}

.list-grid {
  position: relative;
}

.list-section .row {
  position: relative;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .list-section .list-grid {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .list-section .list-grid > .row {
    margin-left: 0px;
    margin-right: -10px;
  }
}
