.main-body {
  margin-bottom: 50px;
}

.main-col .preview-section {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.preview-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.preview-link a {
  transition: color 0.4s linear;
}

.preview-link a:hover {
  color: var(--btn-secondary);
}

.preview-grid {
  position: relative;
}

.preview-section .row {
  position: relative;
}

/* Mobile */

@media (max-width: 768px) {
  .preview-title {
    margin-right: 0;
  }

  .preview-title h5 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .preview-section .preview-grid {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .preview-section .preview-grid > .row {
    margin-left: 0;
    margin-right: -10px;
  }
}
