.preview-section {
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.preview-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: -10px;
}

.preview-link a {
  transition: color 0.4s linear;
}

.preview-link a:hover {
  color: var(--btn-secondary);
}

.preview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .preview-section {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .preview-title {
    font-size: 0.85rem;
  }

  .preview-grid {
    grid-gap: 0.75rem;
  }
}
