.list-section {
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.section-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  font-weight: 400;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 1.75rem;
}
