.main-body {
  margin-bottom: 60px;
}

.main-col .preview-section {
  margin-bottom: 10px;
}

.preview-section {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.preview-link {
  float: right;
  margin-right: 10px;
  font-size: 15px;
}

.preview-link a {
  color: var(--btn-secondary);
  transition: color 0.4s ease-out;
}

.preview-link a:hover {
  color: var(--btn-secondary);
  color: #d83fc4;
}

.preview-grid {
  position: relative;
}

.preview-section .row {
  position: relative;
}

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .preview-title h5 {
    font-size: 1rem;
  }

  .preview-link {
    margin-right: 0;
  }

  .preview-section .preview-grid {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .preview-section .preview-grid > .row {
    margin-left: 0px;
    margin-right: -10px;
  }
}
