@media (min-width: 1421px) {
  .list-section .list-grid .anime-card,
  .preview-section .preview-grid .anime-card {
    width: 20%;
  }
}

@media (max-width: 1420px) {
  .list-section .list-grid .anime-card,
  .preview-section .preview-grid .anime-card {
    width: 20%;
  }
}

@media (max-width: 1220px) {
  .list-section .list-grid .anime-card,
  .preview-section .preview-grid .anime-card {
    width: 25%;
  }

  .main-home .preview-grid .anime-card:nth-child(5) {
    display: none;
  }
}

@media (max-width: 990px) {
  .list-section .list-grid .anime-card,
  .preview-section .preview-grid .anime-card {
    width: 50%;
  }
}

.list-section .list-grid .anime-card,
.preview-section .preview-grid .anime-card {
  padding-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

.list-section .anime-card,
.main-col .preview-section .anime-card {
  padding-right: 10px;
  margin-bottom: 10px;
}

.list-section .list-grid .grid-poster,
.preview-section .preview-grid .grid-poster {
  cursor: pointer;
  position: relative;
}

.list-section .list-grid .anime-card img,
.preview-section .preview-grid .anime-card img {
  border-radius: 5px;
  transition: opacity 0.4s ease-out;
}

.list-section .list-grid .anime-card:hover img,
.preview-section .preview-grid .anime-card:hover img {
  opacity: 0.6;
}

.list-section .list-grid .anime-card:hover .span-type,
.preview-section .preview-grid .anime-card:hover .span-type {
  background: #5526c4f2;
  color: var(--text-secondary);
}

.list-section .list-grid .anime-card:hover .title-name,
.preview-section .preview-grid .anime-card:hover .title-name {
  color: var(--btn-secondary);
}

.lazy-image img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.lazy-image .span-type {
  position: absolute;
  padding: 2px 6px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  background: var(--btn-primary);
  border-radius: 5px;
  margin: 5px auto;
  left: 5px;
  top: 0;
  transition: color 0.4s ease-out;
}

.card-title {
  position: relative;
}

.title-name {
  display: block;
  font-size: 16px;
  overflow: hidden;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.4s ease-out;
}

.list-section .list-grid .grid-poster .poster-overlay,
.preview-section .preview-grid .grid-poster .poster-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.list-section .list-grid .grid-poster .poster-overlay > a,
.preview-section .preview-grid .grid-poster .poster-overlay > a {
  display: block;
  width: 100%;
  height: 100%;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-home .preview-grid .anime-card:nth-child(5) {
    display: none;
  }
  .lazy-image .span-type {
    font-size: 0.75rem;
  }

  .title-name {
    font-size: 0.85rem;
    white-space: normal;
  }
}
