.nav-section {
  background-color: var(--bg-primary);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title a {
  font-size: 17px;
  font-weight: 700;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.nav-title a:hover {
  padding-bottom: 5px;
  color: var(--btn-secondary) !important;
}

.navbar-box {
  display: inherit;
  align-items: baseline;
}

.navbar-box a {
  margin-right: 20px;
  color: var(--text-primary);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.navbar-box a:hover {
  color: var(--btn-secondary) !important;
}
