.cover-wrapper {
  overflow: hidden;
  height: 350px;
  width: 100%;
  position: relative;
}

.cover-wrapper .cover-image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  width: 100%;
  position: relative;
}

.cover-wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* -------------------- SIDEBAR ----------------------- */
.sidebar-section {
  position: relative;
  top: 0;
  width: 195px;
  float: left;
}

.sidebar-section .aside-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -140px;
}

.aside-wrap .poster-wrap img {
  width: 195px;
  height: 277px;
}

.sidebar-section .aside-wrap img {
  border-radius: 5px;
}

.poster-wrap {
  display: block;
  margin: 0 auto;
}

/* ----------------------SECTION CENTER------------------------- */

.div-center {
  margin-left: 215px;
  max-width: 910px;
  margin-top: 10px;
}

.div-center h5 {
  font-size: 16px;
}

.div-center .row {
  width: 100%;
}

.title-anime h3 {
  display: inline;
  margin-right: 10px;
}

.title-anime h5 {
  display: inline;
  color: var(--text-primary);
  opacity: 0.6;
  position: relative;
  font-size: 17px;
}

.rating-anime {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 700;
}

.rating-anime .average-rating {
  color: var(--assets-high);
}

.good {
  color: var(--assets-good) !important;
}

.low {
  color: var(--assets-low) !important;
}

.very-low {
  color: var(--assets-very-low) !important;
}

.description-anime {
  margin-bottom: 1.5rem;
}

.description-anime p {
  white-space: pre-line;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

.disabled {
  display: none;
}

.inline-block {
  display: block;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.4s ease-out;
}

.inline-block {
  color: var(--btn-secondary);
}

.inline-block:hover {
  color: #d83fc4;
}

.ranking-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  margin-top: 40px;
}

.ranking-wrap .ranking {
  color: inherit;
}

.ranking-wrap .ranking svg {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 4px;
  fill: var(--btn-secondary);
}

.ranking-wrap .rating-rank.ranking svg {
  fill: var(--assets-low);
  width: 16px;
  height: 16px;
}

.wrap-tags {
  margin-top: 40px;
}

.wrap-tags ul {
  padding: 0;
  margin-top: 15px;
}

.wrap-tags ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-right: 6px;
}

.tags-item a {
  color: var(--text-primary);
  background: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  border-radius: 10px;
  padding: 4px 8px;
  transition: color 0.4s ease-out;
}

.tags-item a:hover {
  border-color: transparent;
  background-color: #0a0909;
  color: var(--btn-secondary);
}

/* ----------------------SECTION RIGHT------------------------- */

.right-side {
  max-width: 310px;
  padding-right: 0;
}

@media screen and (max-height: 1200px) {
  .info-wrap {
    position: relative;
    top: 0;
  }
}

.info-container {
  margin-top: 10px;
  margin-left: 15px;
}

.info-container h5 {
  margin-bottom: 10px;
}

.info-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.info-container li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.info-container li > strong {
  width: 100px;
  max-width: 35%;
}

.info-container li > span {
  max-width: 65%;
  display: inline-flex;
  align-items: center;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* SIDEBAR */
  .sidebar-section {
    position: unset;
    width: 100%;
    float: none;
    top: 0;
  }

  .sidebar-section .aside-wrap {
    display: block;
    top: 0;
    margin-top: 5px;
  }

  /* SECTION CENTER */
  .div-center {
    margin-left: 15px;
    margin-right: -15px;
  }

  .ranking-wrap {
    width: 100%;
    display: block;
    text-align: left;
  }

  /* RIGHT SIDE */
  .right-side {
    max-width: 100%;
  }

  .info-container {
    margin-left: 0;
  }

  .info-container ul {
    display: flex;
    flex-direction: column;
  }

  .info-container li {
    min-width: 50%;
  }

  .info-container li strong {
    max-width: unset;
    width: 100px;
  }

  .info-container li span {
    align-items: unset;
    max-width: calc(100% - 100px);
  }
}
