.footer-section {
  margin-top: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background: var(--bg-primary);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.bottom-title h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

.bottom-media {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
  align-items: center;
}

.contact-link:hover {
  color: var(--btn-secondary);
  transition: color 0.4s ease-out;
}

.contact-link .github svg {
  width: 24px;
  height: 24px;
}

.contact-link .linkedin svg {
  width: 26px;
  height: 26px;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .bottom-title h3 {
    font-size: 1rem;
  }

  .footer {
    max-width: 100%;
  }

  .bottom-media {
    width: 30%;
  }

  .contact-link .github svg {
    width: 26px;
    height: 26px;
  }

  .contact-link .linkedin svg {
    width: 28px;
    height: 28px;
  }
}
