@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

*,
::after,
::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

:root {
  --bg-primary: #0a0a0b;
  --bg-secondary: #181818;

  --text-primary: #e1f2f7;
  --text-secondary: #a4b3b6;

  --btn-primary: #5626c4;
  --btn-secondary: #d83f87;

  --assets-primary: #2cccc3;
  --assets-secondary: #facd3d;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--bg-secondary);
  color: var(--text-primary);
  overflow-y: scroll;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  position: relative;
  padding-bottom: 200px;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

a,
p {
  color: var(--text-primary);
  font-weight: 300;
  text-decoration: none;
}

img {
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

button {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.25;
  transition: all 0.2s ease;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding-bottom: 150px;
  }

  .container {
    padding: 0 0.5rem;
  }
}
