.main-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  max-width: 940px;
}

.main-col {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-anime {
  padding-right: 0;
}

.col-category {
  max-width: 320px;
  padding: 0;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-home {
    display: block;
    margin: 0;
  }

  .main-body {
    display: flex;
    flex-wrap: wrap;
  }

  .main-col {
    padding: 0;
  }

  .col-category {
    margin: 0 15px;
    width: 400px;
  }
}
