.main-home {
  margin-top: 20px;
  padding: 0;
}

@media (min-width: 544px) {
  .main-col {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col-anime {
  padding-left: 0;
}

.col-category {
  max-width: 300px;
  padding: 0;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .col-category {
    order: -1;
    width: 100%;
    max-width: 100%;
  }
}
